@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans'),
    url("./NotoSans-Bold.ttf") format('ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans'),
    url("./NotoSans-Regular.ttf") format('ttf');
  font-weight: normal;
  font-style: normal;
}